@import "bourbon";
@import "common";

.hidden {
  display: hidden;
}

.background-image {
  position: fixed;
  overflow: hidden;
  top: rem(-50px);
  left: rem(-100px);
  right: 0;
  z-index: -1;
  display: block;
  overflow: hidden;
  
  @include background-image(url('../img/chalkboard.jpg'));
  background-repeat: no-repeat;
  background-size: cover;
  
  @include filter(blur(15px));
  
  width: 200%;
  height: 200%;
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  
  #home-buttons {
    margin-left: $margin-left;
  }
  
  #home-buttons button {
    margin-right: rem(10px);
    margin-bottom: rem(10px);
  }
}

header {
  margin-bottom: 3vw;
  margin-right: 2vw;
  margin-left: $margin-left;
  margin-top: 5vw;
  
  font-family: $font-oswald;
  font-weight: 700;
  color: azure;
  
  h1 {
    @include responsive-font(15);
  }
  
  h2 {
    @include responsive-font(10);
  }
}

footer {
  position: absolute;
  bottom: 0px;
  left: $margin-left;
  margin-bottom: 2vw;
  font-family: $font-opensans;
  font-style: italic;
  color: azure;
  
  h1 {
    font-weight: 400;
    @include responsive-font(4);
  }
  
  strong {
    font-weight: 600;
  }
}

.button-xlarge {
  font-family: $font-oswald;
  @include responsive-font(6);
}